body {
    font-family: "Poppins", sans-serif;
    flex: 1;
}

span {
    color: red;
}

h2 {
    font-size: 50px;
    text-align: center;
}

.denji {
    height: 300px;
}

.title {
    font-weight: bold;
    font-size: 30px;
    text-align: justify;
    margin-bottom: 15px;

}

.descrip {
    font-size: 20px;
    text-align: justify;
    margin-top: -4px;
 
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -25px;
}

.holder {
    display: flex;
    margin-left: 20px;
}

.main {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10%;
    column-gap: 5%;
    margin-top: 100px;
    margin-bottom: 200px;

}

footer {
    font-size: 40px;
    color: rgb(142, 122, 181);
    font-weight: bolder;
    text-align: right;
    justify-content: end;
    margin-left: 0%;
    clear: both;
    margin-top: 0%;
    margin-bottom: 0%;
}
.logo{
    color:rgb(142, 122, 181); 
    font-weight:bold;
     margin-left:20px; 
     font-size:40px;
}


@media (max-width:680px) {

    .logo{
        font-size: 20px;
        margin-bottom: 60px;
    }
    h2{
        font-size: 30px;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 3%;
        margin-top: 60px;
   
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .denji {
        height: 200px;
    }

    .descrip{
        font-size: 15px;
        margin-top: -10px;
    }

    .title{
        font-size: 20px;
    }

    .foot{
        font-size: 20px;
    }


}