div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.container {
    background-color: rgb(24, 119, 242);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-top: 12px;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    width: 500px;
    border-radius: 15px;
    border-style: solid;
    border: none;
    height: 25px;
    max-width: 500px;
    min-width: 200px;
}

.button {
    color: white;
    background-color: rgb(24, 119, 242);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    width: 100px;
    font-weight: bold;
}


.facebook {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 430px;
    margin-left: 20px;
    margin-right: 20px;

}

div {
    margin: 0;
}

.flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    width: 390px;
    justify-content: space-between;
}

.profile {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.pic {
    margin: 0;
    width: 50px;
}


.name {
    font-weight: bold;
    padding-bottom: 5px;
}

.nickname,
.status {
    color: gray;
    padding-bottom: 5px;
}

.follow-button {
    color: white;
    font-weight: bold;
    background-color: rgb(29, 155, 240);
    border-radius: 5px;
    border: none;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    text-align: center;
}

.info {
    width: 120px;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body {
    margin: 0;
}

.home {
    width: 40px;
    height: 30px;
    margin-right: 6px;
    margin-top: 10px;
    margin-left: 15px;
}

.house {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    font-weight: bold;
    color: white;
}

.beluga {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.post {

    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    width: 230px;
    height: 32px;
    color: black;
    border-color: black;
    justify-content: center;
    margin: 0;


}



.cat {


    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    object-position: center;
    vertical-align: middle;
    margin: 0;
}

.beluga,
.post,
.post-now {
    vertical-align: middle;
    margin-right: 10px;
}

.post {
    box-shadow: 0 0 5px rgba(0, 0.2, 0, 1);
    border-style: solid;
    border-color: white;

}


.post-now {
    color: white;
    font-weight: bold;
    background-color: rgb(29, 155, 240);
    border-radius: 5px;
    border: none;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
}

.eme {
    width: 100%;
    height: auto;
    object-fit: contain;
}